body {
    margin: 0;
    height: 100%;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Fredoka One', cursive;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    align-items: center;
}

.header__logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}


.prod {
    font-size: 20px;
}

.nav {
    padding: 0 10px;
    line-height: 50px;
}


.menu {
    background: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.menu-wrapper {
    min-height: 45px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.line {
    width: 100%;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

.flex-container {
    min-width: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid rgba(222, 243, 233, 0.74);
    background-color: #FFFFE0;
    align-items: center;
}

.infoHeder {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.infoHeder>* {
    width: 15%;
    height: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 1.8vw;
}

.infoTable {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.infoTable>* {
    width: 15%;
    height: auto;
    line-height: 80px;
    text-align: center;
    font-size: 2vw;
}

#changeRate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changeRate>* {
    width: auto;
    height: auto;
    line-height: 40px;
    text-align: center;
    font-size: 2vw;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resCalc {
    width: auto;
    height: auto;
    line-height: 40px;
    text-align: center;
    font-size: 2vw;
}

#inputCalc {
    height: 35%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2vw;
}

/* .footer {
    margin: auto;
    margin-top: 90%;
    position: relative;
    bottom: 1px;
    width: 99%;
    height: 100px;
    border: 2px rgb(230, 223, 223) solid;
} */

.infoTable img {
    width: 100%;
    height: 100%;
}

.invisibleGrapf {
    display: none;
}

.alarm-input {
    background-color: red;
}

.visibleGrapf {
    width: 100%;
    height: auto;
    text-align: center;
}

.graph {
    width: 100%;
    height: auto;
}

.grapfBtn {
    width: 40%;
    height: 40%;
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)), linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)), linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)), linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)), linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
}

a.grapfBtn:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

a.grapfBtn:active {
    top: 1px;
}